apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: mwaaenvironments.mwaa.aws.tf.crossplane.io
spec:
  group: mwaa.aws.tf.crossplane.io
  names:
    categories:
    - crossplane
    - managed
    - tfaws
    kind: MwaaEnvironment
    listKind: MwaaEnvironmentList
    plural: mwaaenvironments
    singular: mwaaenvironment
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: READY
      type: string
    - jsonPath: .status.conditions[?(@.type=='Synced')].status
      name: SYNCED
      type: string
    - jsonPath: .metadata.annotations.crossplane\.io/external-name
      name: EXTERNAL-NAME
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MwaaEnvironment is the Schema for the MwaaEnvironments API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MwaaEnvironmentSpec defines the desired state of MwaaEnvironment
            properties:
              deletionPolicy:
                default: Delete
                description: DeletionPolicy specifies what will happen to the underlying
                  external when this managed resource is deleted - either "Delete"
                  or "Orphan" the external resource.
                enum:
                - Orphan
                - Delete
                type: string
              forProvider:
                properties:
                  airflowConfigurationOptions:
                    additionalProperties:
                      type: string
                    type: object
                  airflowVersion:
                    type: string
                  dagS3Path:
                    type: string
                  environmentClass:
                    type: string
                  executionRoleArn:
                    type: string
                  kmsKey:
                    type: string
                  loggingConfiguration:
                    items:
                      properties:
                        dagProcessingLogs:
                          items:
                            properties:
                              enabled:
                                type: boolean
                              logLevel:
                                type: string
                            type: object
                          type: array
                        schedulerLogs:
                          items:
                            properties:
                              enabled:
                                type: boolean
                              logLevel:
                                type: string
                            type: object
                          type: array
                        taskLogs:
                          items:
                            properties:
                              enabled:
                                type: boolean
                              logLevel:
                                type: string
                            type: object
                          type: array
                        webserverLogs:
                          items:
                            properties:
                              enabled:
                                type: boolean
                              logLevel:
                                type: string
                            type: object
                          type: array
                        workerLogs:
                          items:
                            properties:
                              enabled:
                                type: boolean
                              logLevel:
                                type: string
                            type: object
                          type: array
                      type: object
                    type: array
                  maxWorkers:
                    format: int64
                    type: integer
                  minWorkers:
                    format: int64
                    type: integer
                  name:
                    type: string
                  networkConfiguration:
                    items:
                      properties:
                        securityGroupIds:
                          items:
                            type: string
                          type: array
                        subnetIds:
                          items:
                            type: string
                          type: array
                      required:
                      - securityGroupIds
                      - subnetIds
                      type: object
                    type: array
                  pluginsS3ObjectVersion:
                    type: string
                  pluginsS3Path:
                    type: string
                  region:
                    description: Region is the region you'd like your resource to
                      be created in.
                    type: string
                  requirementsS3ObjectVersion:
                    type: string
                  requirementsS3Path:
                    type: string
                  sourceBucketArn:
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    type: object
                  tagsAll:
                    additionalProperties:
                      type: string
                    type: object
                  webserverAccessMode:
                    type: string
                  weeklyMaintenanceWindowStart:
                    type: string
                required:
                - dagS3Path
                - executionRoleArn
                - name
                - networkConfiguration
                - region
                - sourceBucketArn
                type: object
              providerConfigRef:
                default:
                  name: default
                description: ProviderConfigReference specifies how the provider that
                  will be used to create, observe, update, and delete this managed
                  resource should be configured.
                properties:
                  name:
                    description: Name of the referenced object.
                    type: string
                required:
                - name
                type: object
              providerRef:
                description: 'ProviderReference specifies the provider that will be
                  used to create, observe, update, and delete this managed resource.
                  Deprecated: Please use ProviderConfigReference, i.e. `providerConfigRef`'
                properties:
                  name:
                    description: Name of the referenced object.
                    type: string
                required:
                - name
                type: object
              writeConnectionSecretToRef:
                description: WriteConnectionSecretToReference specifies the namespace
                  and name of a Secret to which any connection details for this managed
                  resource should be written. Connection details frequently include
                  the endpoint, username, and password required to connect to the
                  managed resource.
                properties:
                  name:
                    description: Name of the secret.
                    type: string
                  namespace:
                    description: Namespace of the secret.
                    type: string
                required:
                - name
                - namespace
                type: object
            required:
            - forProvider
            type: object
          status:
            description: MwaaEnvironmentStatus defines the observed state of MwaaEnvironment.
            properties:
              atProvider:
                properties:
                  arn:
                    type: string
                  createdAt:
                    type: string
                  lastUpdated:
                    items:
                      properties:
                        createdAt:
                          type: string
                        error:
                          items:
                            properties:
                              errorCode:
                                type: string
                              errorMessage:
                                type: string
                            required:
                            - errorCode
                            - errorMessage
                            type: object
                          type: array
                        status:
                          type: string
                      required:
                      - createdAt
                      - error
                      - status
                      type: object
                    type: array
                  serviceRoleArn:
                    type: string
                  status:
                    type: string
                  webserverUrl:
                    type: string
                required:
                - arn
                - createdAt
                - lastUpdated
                - serviceRoleArn
                - status
                - webserverUrl
                type: object
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown?
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
